.content {
  font-family: Arial, sans-serif;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  justify-content: space-between;
  height: calc(100vh - 40px);
  padding: 20px 0 20px 0;
  margin: 0;
  min-height: calc(100vh - 240px);
}

.loading-dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Transparentes Grau */
  z-index: 9998; /* Stellen Sie sicher, dass das Overlay unter dem Dialog liegt */
}

.loading-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 9999; /* Stellen Sie sicher, dass das Ladeelement über allem anderen liegt */
  width: 50%;
  height: 50%;
  color: #283593;
  font-size: 24px;
  font-weight: bold; /* Fettgeschrieben */
}

.loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chat-program-card {
  background-color: #fff; /* Hintergrundfarbe */
  border-radius: 4px; /* Abrundung der Ecken */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Schatten */
}

.chat-program-title {
  font-size: 24px; /* Titelgröße */
  color: #1976d2 !important; /* Blaue Farbe wie der Angular-Button "primary" */
  font-weight: bold; /* Fettgeschrieben */
  text-align: center; /* Zentrieren des Textes */
  margin: 0; /* Entfernen von Standardabständen */
  padding: 16px; /* Innenabstand */
}

.user-group {
  background-color: #cbe2ff; /* Hintergrundfarbe wie der Primary-Button, aber blasser */
  border-radius: 4px; /* Abrundung der Ecken */
  padding: 8px 16px; /* Innenabstand */
  margin-bottom: 8px; /* Abstand zwischen den Elementen */
  word-wrap: break-word; /* Zeilenumbruch bei Bedarf */
  max-width: 300px; /* Maximale Breite */
  width: calc(
    100% - 32px
  ); /* Breite der Box abzüglich des linken und rechten Padding */
}

.user-group span {
  font-weight: bold; /* Fettschrift */
  color: #333; /* Textfarbe */
  margin-right: 8px; /* Rechter Abstand */
}

.user-group-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat-program-card mat-card-title {
  font-size: 24px; /* Titelgröße */
  color: #333; /* Textfarbe */
}

.chat-program-card mat-card-content {
  padding: 16px; /* Innenabstand */
}

.container {
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  flex-direction: column;
}

.username-message {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Schatten */
  margin-bottom: 1%;
  padding: 1%;
  font-weight: bold;
  font-size: 20px;
  min-width: fit-content;
}

.frame {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.messages {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 82vh;
}

.message {
  max-width: 70%;
  padding: 1%;
  border-radius: 5px;
  margin-bottom: 1% !important;
  word-wrap: break-word; /* Zeilenumbruch bei Bedarf */
}

.message-timestamp {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2.5px;
  font-size: 12px; /* Schriftgröße */
  color: #666; /* Graue Textfarbe */
  min-width: fit-content;
}

.check-icon {
  font-size: 100%;
  width: fit-content;
  height: fit-content;
}

.blue-text {
  color: #1976d2;
}

.message-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  word-break: break-word;
  gap: 8px;
}

.non-user-message {
  background-color: lightcoral;
  float: left;
  margin-left: 1%;
}

.user-message {
  background-color: lightgreen;
  float: right;
  margin-right: 1%;
}

.message-input-form {
  align-items: center;
  width: 100%;
  margin-top: auto;
  padding: 2%;
}

.login-card {
  display: grid;
  grid-template-rows: auto;
  height: fit-content;
  justify-items: center;
  padding: 4%;
}

::-webkit-scrollbar {
  display: none;
}
