<div class="content">
  <mat-dialog-content *ngIf="isLoading && login">
    <div class="loading-dialog-overlay"></div>
    <div class="loading-dialog">
      <br />
      Verbindung zum Server unterbrochen. <br />
      Bitte warten die Verbindung wird wiederhe rgestellt!
      <div class="loading-spinner"></div>
      <mat-spinner class="loading-spinner"></mat-spinner>
    </div>
  </mat-dialog-content>

  <button (click)="test()">Test</button>
  <mat-card class="chat-program-card">
    <mat-card-title class="chat-program-title">Chatprogramm</mat-card-title>
    <mat-card-content>
      <div class="user-group-container">
        <div class="user-group">
          <span>User:</span>
          <span id="joined-user"></span>
        </div>
        <div class="user-group">
          <span>Gruppe:</span>
          <span id="joined-gruppe"></span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <div class="container">
    <mat-card id="chat-messages" class="messages">
      <div class="frame" #scrollframe>
        <div *ngFor="let msg of messages.getAllData()" class="msg" #msg>
          <div *ngIf="msg.sender == user" class="message user-message">
            <div class="username-message" id="username-message">
              {{ msg.sender }}
            </div>
            <div class="message-grid">
              <div class="message-message">{{ msg.msg }}</div>
              <div></div>
              <div></div>
              <div
                class="message-timestamp"
                [ngClass]="{ 'blue-text': messageReceived }"
              >
                <div>{{ msg.timestamp | date : "HH:mm" }}</div>
                <mat-icon class="check-icon">check</mat-icon>
              </div>
            </div>
          </div>
          <div *ngIf="msg.sender != user" class="message non-user-message">
            <div class="username-message" id="username-message">
              {{ msg.sender }}
            </div>
            <div class="message-grid">
              <div class="message-message">{{ msg.msg }}</div>
              <div></div>
              <div></div>
              <div class="message-timestamp">
                <div>{{ msg.timestamp | date : "HH:mm" }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
    <mat-card class="message-input-form">
      <mat-form-field
        style="width: 100%"
        appearance="outline"
        subscriptSizing="dynamic"
      >
        <mat-label>Nachricht</mat-label>
        <input
          matInput
          type="text"
          id="message-input"
          [(ngModel)]="message"
          (keydown.enter)="sendMessage()"
        />
        <div matPrefix>
          <button mat-icon-button color="primary" (click)="sendMessage()">
            <mat-icon>send</mat-icon>
          </button>
        </div>
      </mat-form-field>
    </mat-card>
  </div>
  <mat-card class="login-card">
    <mat-form-field style="width: 100%" appearance="outline">
      <mat-label>Benutzername</mat-label>
      <input matInput type="text" [(ngModel)]="user" />
    </mat-form-field>
    <mat-form-field style="width: 100%" appearance="outline">
      <mat-label>Gruppenname</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="groupname"
        (keydown.enter)="login()"
      />
    </mat-form-field>
    <button
      mat-flat-button
      color="primary"
      (click)="login()"
      style="width: 100%"
    >
      Login
    </button>
  </mat-card>
</div>
