<div class="content">
  <mat-card>
    <h1>Chatprogramm</h1>
    <h4>
      User:
      <span id="joined-user"></span>
    </h4>
    <h4>
      Gruppe:
      <span id="joined-gruppe"></span>
    </h4>
  </mat-card>
  <div class="container">
    <div id="chat-name" class="message user-message"></div>
    <mat-card id="chat-messages" style="padding-left: 5%" class="messages">
      <span *ngFor="let msg of messages">
        <div *ngIf="msg.sender == user" class="message user-message">
          {{ msg.sender }}: {{ msg.msg }}
        </div>
        <div *ngIf="msg.sender != user" class="message">
          {{ msg.sender }}: {{ msg.msg }}
        </div>
      </span>
    </mat-card>
    <mat-card class="message-input-form">
      <input
        type="text"
        id="message-input"
        class="message-input"
        placeholder="Nachricht eingeben..."
        [(ngModel)]="message"
      />
      <button
        mat-flat-button
        style="margin-top: 2%"
        color="primary"
        (click)="sendMessage()"
        class="send-button"
      >
        Senden
      </button>
    </mat-card>
  </div>
  <mat-card
    style="
      display: grid;
      grid-template-rows: auto;
      height: fit-content;
      justify-items: center;
      padding: 4%;
    "
  >
    <mat-form-field style="width: 80%">
      <mat-label>Benutzername</mat-label>
      <input matInput type="text" [(ngModel)]="user" />
    </mat-form-field>
    <mat-form-field style="width: 80%">
      <mat-label>Gruppenname</mat-label>
      <input matInput type="text" [(ngModel)]="groupname" />
    </mat-form-field>
    <button
      mat-flat-button
      color="primary"
      (click)="login()"
      style="width: 80%"
    >
      Login
    </button>
  </mat-card>
</div>
