.content {
  font-family: Arial, sans-serif;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  justify-content: space-between;
  height: calc(100vh - 40px);
  padding: 20px 0 20px 0;
  margin: 0;
  min-height: calc(100vh - 240px);
}
.chat-program-card {
  margin-bottom: 20px;
  background-color: #fff; /* Hintergrundfarbe */
  border-radius: 4px; /* Abrundung der Ecken */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Schatten */
}

.chat-program-title {
  font-size: 24px; /* Titelgröße */
  color: #1976d2 !important; /* Blaue Farbe wie der Angular-Button "primary" */
  font-weight: bold; /* Fettgeschrieben */
  text-align: center; /* Zentrieren des Textes */
  margin: 0; /* Entfernen von Standardabständen */
  padding: 16px; /* Innenabstand */
}

.user-group {
  background-color: #cbe2ff; /* Hintergrundfarbe wie der Primary-Button, aber blasser */
  border-radius: 4px; /* Abrundung der Ecken */
  padding: 8px 16px; /* Innenabstand */
  margin-bottom: 8px; /* Abstand zwischen den Elementen */
  word-wrap: break-word; /* Zeilenumbruch bei Bedarf */
  max-width: 300px; /* Maximale Breite */
  width: calc(
    100% - 32px
  ); /* Breite der Box abzüglich des linken und rechten Padding */
}

.user-group span {
  font-weight: bold; /* Fettschrift */
  color: #333; /* Textfarbe */
  margin-right: 8px; /* Rechter Abstand */
}

.user-group-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat-program-card mat-card-title {
  font-size: 24px; /* Titelgröße */
  color: #333; /* Textfarbe */
}

.chat-program-card mat-card-content {
  padding: 16px; /* Innenabstand */
}

.container {
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  flex-direction: column;
}

.username-message {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Schatten */
  margin-bottom: 1%;
  padding: 1%;
  font-weight: bold;
  font-size: 20px;
  min-width: fit-content;
}

.messages {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 50vh;
  padding: 2%;
}

.message {
  max-width: 70%;
  padding: 1%;
  border-radius: 5px;
  margin-bottom: 1% !important;
  word-wrap: break-word; /* Zeilenumbruch bei Bedarf */
}

.non-user-message {
  background-color: lightcoral;
  float: left;
}

.user-message {
  background-color: lightgreen;
  float: right;
}

.message-input {
  border: 1px solid #ccc;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

.user-group-form {
  justify-self: center;
  grid-template-rows: 10% 10% 5%;
  margin: auto;
  padding: 20px;
  display: grid;
  width: 80%;
}
.user-group-form-input {
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ccc;
}
.message-input-form {
  display: flex;
  align-items: center;
  padding: 1%;
  width: 100%;
  z-index: 9999;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  padding: 2%;
}
.messages {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 50vh;
  padding: 20px;
  margin-bottom: 1%;
}
.messages .user-message:last-child,
.messages .message:last-child {
  margin-bottom: 0; /* Entfernt den Abstand der letzten Nachricht vom unteren Rand */
}
::-webkit-scrollbar {
  display: none; /* Versteckt die Scrollleiste in Webkit-basierten Browsern */
}
